<div class="announcement-content">
    <span data-lang-zh>杭州米仓艺术中心开馆特别展-小泽刚与管怀宾</span>
    <span data-lang-en>Hangzhou Rice Granary Arts Center Opening Special Exhibition: Ozawa Tsuyoshi and Guan Huaibin</span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span data-lang-zh>展览期间：2025年3月22日至7月5日</span>
    <span data-lang-en>Exhibition Period: March 22, 2025 - July 5, 2025</span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span data-lang-zh>开放时间：周二至周日 10:00-18:00</span>
    <span data-lang-en>Opening Hours: Tuesday to Sunday 10:00 AM - 6:00 PM</span>
</div>